.container.sidebar-content-layout {
    display: flex;
    gap: 1em;
    .fdir(column);

    @media only screen and (min-width:1024px) {
        .fdir(row);
    }

    .settings-content {
        width: 100%;

        @media only screen and (min-width:1024px) {
            width: calc(100% - 15em - 1em);
        }
    }
}